.header {
  font-family: montserrat;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #00b3b3;
  padding: 30px;
  color: white;
  margin-bottom: 30px;
}


#pantry-container {
    width: 300px;
}

#ing-input {
    width: 300px;
}

#ing-here {
    background-color: gray;
    border-radius: 5px;
    width: 300px;
}

#recip-button {
    margin: auto;
}

#clear-results-button {
    margin: auto;
}

.ing-card {
  text-transform: capitalize;
  margin: 10px;
  padding: 5px;
}
